@import "tailwindcss";

body {
  margin: 0;
  font-family: var(--font-source-sans), "Segoe UI", sans-serif;
}

.header-nav-caps {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 900;
  letter-spacing: 0.3px;
  text-transform: uppercase;
  font-size: 15px;
}

.header-top-links {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  text-transform: none;
  font-size: 13px;
}
